<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Paulo Corazza - Developer </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.css" rel="stylesheet">

</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Paulo Corazza</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/me.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="./index.html">Back to portuguese version</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Graduation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#languages">Languages</a>
          <!--Devo adicionar essa seção ainda-->
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#apps">My Apps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Get In Touch  </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0">Paulo
          <span class="text-primary">Corazza</span>
        </h1>

        <div class="subheading mb-5">Cabreúva-SP · Brazil (55)(11) 97281-3500
          <a href="corazza.paulovinicius@gmail.com">corazza.paulovinicius@gmail.com</a>
        </div>

        <p class="mb-5">
          I am 26 years old and I am Programmer since 2018, I started with mobile development where I have 2
          apps published in the PlayStore and today I work with web-based technologies. I am a Linux user,
          Windows, MacOS and Android. Lover of good old Rock and Roll and coffee. I'm a São Paulo Football Club fan 
          , Not necessarily in that order, except the Coffee because if it was not the coffee you would not be seeing
          My bio now.</p>
        <div class="jumbotron">
          <input style="width: 100%" type="text" readonly id="data_nascimento" value="09/23/1992" hidden />
          <h1 class="display-4">Hello, world!</h1>
          <p class="var">var name = 'Paulo Corazza'</p>
          <p class="var1">var job = 'developer'</p>
          <p>alert ("Hello ! I'm ") + name ("and i'm " + job);</p>
          <button class="btn btn-danger" onclick="helloWorld()">Try me !</button>
        </div>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/paulo-corazza-418a3149/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/paulinhocorazza">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://stackexchange.com/users/11304971/paulo-corazza">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://open.spotify.com/user/corazza.paulovinicius?si=eRtc0ABURsapK7gwYCxdgA">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://www.instagram.com/paulinhocorazza/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511972813500">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://drive.google.com/open?id=1dPvueDGd6yevjSXBzwSNmEbHW6ui8W5L">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
        </ul>

        
       
      </div>
      
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Junior Developer</h3>
            <div class="subheading mb-3"><a href="https://innovareti.com.br/">InnovareTI - Soluções Inovadoras</a></div>
            <p>At InnovareTI i worked as junior web developer, using HTML, CSS, JS , Bootstrap, I also learned Vue.js as frontend framework.
              We Used Laravel as back-end framework and mysql database.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">From March 2018  To October 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Infomation Technology Assistant</h3>
            <div class="subheading mb-3"><a href="https://www.ftbtramar.com.br/">Fábrica de Tranças Brasil LTDA</a></div>
            <p>At the FTB & Tramar group, I provided support to users on the use of computers and
              network and servers (Windows Server - Active Directory).
         </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">From June 2016 to March 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Information Technology Assistant</h3>
            <div class="subheading mb-3"><a href="https://www.guedesmateriais.com.br">Guedes Construção e Acabamento
                LTDA</a></div>
            <p>
              At Guedes, I worked in the maintenance of computers, maintenance and administration of the ERP system.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">From October 2015 to  July 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Seller</h3>
            <div class="subheading mb-3"><a href="https://www.guedesmateriais.com.br">Guedes Construção e Acabamento
                LTDA</a></div>
            <p>
              I worked assisting the consumers and commercializing products for the Civil Construction.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2014 to October 2015</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row-mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Translator</h3>
            <div class="subheading mb-3"><a href="http://www.vison.com.br/">Vison Máquinas e Equipamentos LTDA</a></div>
            <p>
              I worked with the translation of machinery manuals , translating from English to
                            Portuguese</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">From April 2013 to January 2014</span>
          </div>
        </div>

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h2>College</h2>
            <h3 class="mb-0">Centro Universitário Nossa Senhora do Patrocínio - Salto,SP</h3>
            <div class="subheading mb-3">Bachelor in Computer Sciences</div>
            <div>From 2016 Final scheduled for 2019</div>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h2>High School</h2>
            <h3 class="mb-0">Colégio Objetivo - Itu,SP</h3>
            <div>From 2008 to 2010</div>
          </div>
        </div>



      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="languages">
      <div class="my-auto">
        <h2 class="mb-5">Languages</h2>
        <div class="row">
          <div class="col-md-12">
              <h3>I'm Native in Portuguese and i have english as my second language</h3>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail" style="max-width: 900px; margin: 0 auto">
                  <img src="./img/uk-usa.png" class="img-fluid" alt="Inglês">
                  <div class="caption">
                    <figcaption class="caption">
                      <h2>Wizard - Cabreúva-SP</h2>
                      <br>
                      <p> 
                          At Wizard I studied English from 2007 to 2011, I learned about grammar and conversation. I consider myself among
                          intermediate and advanced, and can maintain a good dialogue, read and write texts.</p>
                    </figcaption>
                  </div>
                  <h3>Reading</h3>
                  <div class="progress" style="height: 35px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                  <br>
                  <h3>Conversation</h3>
                  <div class="progress" style="height: 35px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%;"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                  <br>
                  <h3>Writing</h3>
                  <div class="progress" style="height: 35px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%;"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                </div>
              </div>
          </div>
  
      </div>

    </section>


    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Langiages and Tools &amp;Tools</div>
        <ul class="list-inline list-icons">
          <h3>Frontend</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript_badge"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-npm"></i>
          </li>
        </ul>
        <ul class="list-inline list-icons">
          <h3>Operating Systems</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-android"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-windows"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-linux"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-apple"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-terminal"></i>
          </li>
        </ul>
        <ul class="list-inline list-icons">
          <h3>BackEnd</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-laravel"></i>
          </li>

          <li class="list-inline-item">
            <i class="devicons devicons-database"></i>
          </li>
        </ul>
        <ul class="list-inline list-icons">
          <h3>Projects Management</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-jira"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-trello"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-git"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i> Mobile-First, Responsive Design
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>Agile Development &amp; Scrum
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">Interesses</h2>
        <p>
            In addition to being a programmer, I like to  be with my friends, listen to my good old Rock and
              Roll, Watch Football, Play Guitar, play Magic: The gathering, and of course, Coffee!</p>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
      <div class="my-auto">
        <h2 class="mb-5">Portfolio</h2>
        <p>
            Besides being a programmer, I contribute with some personal projects or in groups</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center" style="width: 20rem;background-color: #132645;color: white;">
            <img class="card-img-top" src="./img/logo.png" alt="Card image cap">
            <div class="card-body pgbr">
              <p class="card-text">Providing to the IT community a space for knowledgement sharing,
                  experiences and
                  learning.
              </p>
              <a href="http://www.programadoresbr.com.br" class="btn btn-primary">ProgramadoresBR</a>
            </div>
          </div>
        </div>
        <div id="app">
          <div>
            <div class="col-md-6">
              <div class="card text-center" style="width:18rem;background-color: #42b883; color: white;">
                <div class="card-body">
                  <h5 class="card-title">The Magic of Vue.js</h5>
                  <p class="card-text">A counter to count lifepoints during a magic:The gathering match using vue.js</p>
                  <button class="btn btn-warning" @click="showModal()">Use the Counter!</button>
                </div>
              </div>
            </div>

            <div class="modal" id="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title text-center" id="modalH5">Life Counter</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row form-group">

                      <div class="col-md-12">
                        <p>In a  Magic match, The  players start with 20 health points, and whose
                            get to 0  first or when a player has no more cards to buy lose the game.
                        </p>
                        <h4 for="player1">Type below the two player's name:</h4>
                        <input type="text" class="form-control" v-model="player1">
                        <br>
                        <input type="text" class="form-control" v-model="player2">
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-6">
                        <h3 class="text-center">{{ player1 }}</h3>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-danger text-center" @click="reduceCounter1()">-</button>
                      </div>
                      <div class="col-md-2">
                        <h3>{{ lifePlayer1 }}</h3>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary text-center" @click="addCounter1()">+</button>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-6">
                        <h3 class="text-center">{{ player2 }}</h3>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-danger text-center" @click="reduceCounter2()">-</button>
                      </div>
                      <div class="col-md-2">
                        <h3>{{ lifePlayer2 }}</h3>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary text-center" @click="addCounter2()">+</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>Check it out my android version of this app  <a href="https://play.google.com/store/apps/details?id=com.magecounter.paulocorazza.magecounter">here 
                        !</a>
                    </p>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="apps">

      <h2 class="container col-sm-12">My apps</h2>

      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pet sounds</h5>
              <p class="card-text">Touch in any pet to hear the sound it makes!</p>
              <a href="https://play.google.com/store/apps/details?id=com.somdosbichos.paulocorazza.somdosbichos" class="btn btn-primary botao">Check it out now !</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mage Counter</h5>
              <p class="card-text">
                  Utility for counting the life points of a Magic player during the
                      match.</p>
              <a href="https://play.google.com/store/apps/details?id=com.magecounter.paulocorazza.magecounter" class="btn btn-primary">Check it out now !</a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-width: 900px; margin: 0 auto">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carrouselExampleIndicator" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-30" src="./img/som.png" alt="First slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/cont.png" alt="Second slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/cont1.png" alt="Third slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/cont2.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
      <h2 class="container col-sm-12 text-center">Get in Touch</h2>
    <div class="row">
      <div class="col-md-12">
          <form action="https://formspree.io/corazza.paulovinicius@gmail.com" method="POST"  id="contactForm">
            <div class="row">
                <div class="col-md-4">
                  <h5><label for="name"><span class="required">*</span> Name</label></h5>
                  <input type="text" name="name" class="form-control" placeholder="Type your name" id="name" required>
                </div>
                <div class="col-md-4">
                    <h5><label><span class="required">*</span> Email</label></h5>
                    <input type="email" class="form-control" required name="email" placeholder="yourname@youremailprovider.com">
                </div>
                <div class="col-md-4">
                  <h5><label for="phone">Phone Number</label></h5>
                  <input type="text" class="form-control" name="phone" placeholder="xx xx xxxxxxxx">
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <h5><label for="message"><span class="required">*</span> Type below your message</label> </h5>
                <textarea class="form-control" name="message" required rows="5" placeholder="Type here your message, it can be a complement, invite me for a coffee our even a job :)"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary text-center">Send</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <span>* Required fields</span>
              </div>
            </div>
            </div>
          </form>


      </div>
    </div>
  </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
  <script src="js/resume.min.js"></script>


  <script>
    function helloWorld() {

      var name = "Paulo Corazza";
      var job = "Developer";

      alert("Hello, I'm" + name + " and i'm a " + job);

    }
  </script>
  <script>
    const app = new Vue({
      el: '#app',

      data: {



        player1: '',
        player2: '',
        lifePlayer1: 20,
        lifePlayer2: 20



      },

      methods: {

        reduceCounter1() {

          this.lifePlayer1--

          if (this.lifePlayer1 == 0) {

            alert('O' + this.player1 + "perdeu !");

          }

        },

        addCounter1() {

          this.lifePlayer1++

        },
        reduceCounter2() {

          this.lifePlayer2--

          if (this.lifePlayer2 == 0) {

            alert('O' + this.player2 + "perdeu !");
          }



        },

        addCounter2() {

          this.lifePlayer2++

        },

        reset() {
          this.lifePlayer1 = 20;
          this.lifePlayer2 = 20
        },

        showModal() {
          $('#modal').modal('show');
        }

      },
      computed: {

        isEvenNumber() {
          return this.count % 2 === 0
        }
      },
      mounted: function () {
        // this.showModal();
      }
    })
  </script>

<script>
  $("#contactForm").validate();

</script>




  <!-- Custom scripts for this template -->

  <script src="js/resume.min.js"></script>
</body>

</html>