<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Paulo Corazza - Desenvolvedor </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.css" rel="stylesheet">

</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Paulo Corazza</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/me.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="./english.html">Click Here for english version</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Sobre Mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="./blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Formação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#languages">Idiomas</a>
          <!--Devo adicionar essa seção ainda-->
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interesses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#apps">Meus Aplicativos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0">Paulo
          <span class="text-primary">Corazza</span>
        </h1>

        <div class="subheading mb-5">Cabreúva-SP · (11) 97281-3500
          <a href="corazza.paulovinicius@gmail.com">corazza.paulovinicius@gmail.com</a>
        </div>

        <p class="mb-5">Tenho 26 anos e sou Programador desde 2018, comecei com desenvolvimento mobile onde tenho 2
          apps publicados na PlayStore e hoje trabalho com tecnologias voltadas para a web. Sou usuário de Linux,
          Windows, MacOS e Android. Amante do bom e velho Rock and Roll e café. Sou torcedor do São Paulo Futebol
          Clube, Não necessariamente nessa ordem, exceto o Café por que se não fosse o café você não estaria vendo
          minha bio agora.</p>
        <div class="jumbotron">
          <input style="width: 100%" type="text" readonly id="data_nascimento" value="23/09/1992" hidden />
          <h1 class="display-4">Hello, world!</h1>
          <p class="var">var name = 'Paulo Corazza'</p>
          <p class="var1">var job = 'Programador'</p>
          <p>alert ("Olá, eu sou o ") + name ("e sou um " + job);</p>
          <button class="btn btn-danger" onclick="helloWorld()">Clique Aqui !</button>
        </div>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/paulo-corazza-418a3149/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/paulinhocorazza">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://stackexchange.com/users/11304971/paulo-corazza">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://open.spotify.com/user/corazza.paulovinicius?si=eRtc0ABURsapK7gwYCxdgA">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://www.instagram.com/paulinhocorazza/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511972813500">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://t.me/paulocorazza">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://drive.google.com/file/d/13yv0snA52dg3HtZ0aN0SckYwcRavL0wh/view?usp=sharing">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

        </ul>



      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experiência</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Programador Júnior</h3>
            <div class="subheading mb-3"><a href="https://innovareti.com.br/">InnovareTI - Soluções Inovadoras</a></div>
            <p>Na Innovare atuei desenvolvendo soluções para os nossos clientes utilizando HTML, CSS e JS, utilizei
              também vue.js como framework para frontend</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Março de 2018 - Outubro de 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Auxiliar de TI</h3>
            <div class="subheading mb-3"><a href="https://www.ftbtramar.com.br/">Fábrica de Tranças Brasil LTDA</a></div>
            <p>No grupo FTB & Tramar atuei prestando suporte aos usuários sobre o uso de computadores e admistrava a
              rede interna e os servidores(Windows Server - Active Diretctory ).</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Julho de 2016 - Março de 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Auxiliar de TI</h3>
            <div class="subheading mb-3"><a href="https://www.guedesmateriais.com.br">Guedes Construção e Acabamento
                LTDA</a></div>
            <p>Na Guedes trabalhei prestando manutenção de computadores, manutenção e administração do sistema de PDV.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Outubro de 2015 - Julho de 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Vendedor</h3>
            <div class="subheading mb-3"><a href="https://www.guedesmateriais.com.br">Guedes Construção e Acabamento
                LTDA</a></div>
            <p>Trabalhei atendendo os consumidores e comercializando produtos para a Construção Civil.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Setembro 2014 - Outubro de 2015</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row-mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Tradutor</h3>
            <div class="subheading mb-3"><a href="http://www.vison.com.br/">Vison Máquinas e Equipamentos LTDA</a></div>
            <p>Trabalhei com a tradução de manuais de máquinas que fabricam engrenagens, traduzindo do inglês para o
              português</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Abril de 2013 - Janeiro de 2014</span>
          </div>
        </div>

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Formação</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Centro Universitário Nossa Senhora do Patrocínio - Salto,SP</h3>
            <div class="subheading mb-3">Bacharel em Ciência da Computação</div>
            <div>2016 - Final previsto para 2019</div>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Colégio Objetivo - Itu,SP</h3>
            <div class="subheading mb-3">Ensino Médio</div>
            <div>2008 a 2010</div>
          </div>
        </div>



      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="languages">
      <div class="my-auto">
        <h2 class="mb-5">Idiomas</h2>
        <div class="col-md-12">
          <div class="thumbnail" style="max-width: 900px; margin: 0 auto">
            <img src="./img/uk-usa.png" class="img-fluid" alt="Inglês">
            <div class="caption">
              <figcaption class="caption">
                <h2>Wizard - Cabreúva-SP</h2>
                <br>
                <p> Na Wizard estudei inglês de 2007 a 2011, aprendi sobre gramática e conversação. Me considero entre
                  intermediário e avançado, podendo manter um bom diálogo, ler e redigir textos.</p>
              </figcaption>
            </div>
            <h3>Leitura</h3>
            <div class="progress" style="height: 35px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <br>
            <h3>conversação</h3>
            <div class="progress" style="height: 35px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%;"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <br>
            <h3>Escrita</h3>
            <div class="progress" style="height: 35px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%;"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Linguagens de Programação &amp; Ferramentas</div>
        <ul class="list-inline list-icons">
          <h3>Frontend</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript_badge"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-npm"></i>
          </li>
        </ul>
        <ul class="list-inline list-icons">
          <h3>Sistemas Operacionais</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-android"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-windows"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-linux"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-apple"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-terminal"></i>
          </li>
        </ul>
        <ul class="list-inline list-icons">
          <h3>BackEnd</h3>
          <li class="list-inline-item">
            <i class="devicons devicons-laravel"></i>
          </li>

          <li class="list-inline-item">
            <i class="devicons devicons-database"></i>
          </li>
        </ul>
        <ul class="list-inline list-icons">
          <h3>Gestāo de Projetos </h3>
          <li class="list-inline-item">
            <i class="devicons devicons-jira"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-trello"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-git"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i> Mobile-First, Design Responsivo
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>Desenvolvimento Ágil &amp; Scrum
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">Interesses</h2>
        <p>Além de ser programador, Gosto de nas horas vagas de estar com meus amigos, ouvir meu bom e velho Rock and
          Roll, Assistir Futebol, Tocar Guitarra, jogar Magic: The gathering, e claro, Tomar Café!</p>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
      <div class="my-auto">
        <h2 class="mb-5">Portfólio</h2>
        <p>Além de ser programador, contribuo com alguns projetos pesoais ou em grupos</p>
      </div>
      <div id="app">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center" style="width: 20rem;background-color: #132645;color: white;">
              <img class="card-img-top" src="./img/logo.png" alt="Card image cap">
              <div class="card-body pgbr">
                <p class="card-text">Proporcionar para comunidade de TI um espaço de compartilhamento de conhecimento,
                  experiencias e
                  aprendizado.
                </p>
                <a href="http://www.programadoresbr.com.br" class="btn btn-primary">ProgramadoresBR</a>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card text-center" style="width:20rem; background-color: #42b883; color: white;">
              <div class="card-body">
                <h5 class="card-title">A magia do Vue.js</h5>
                <p class="card-text">Um Contador usando vue.js para contabilizar os pontos de vida durante uma
                  partida de Magic:The gathering</p>
                <button class="btn btn-warning" @click="showModal()">Usar o Contador!</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card text-center" style="width:20rem; background-color: #42b883; color: white;">
              <div class="card-body">
                <h5 class="card-title">A magia do Vue.js</h5>
                <p class="card-text">Um conversor monetário usando</p>
                <button class="btn btn-warning" @click="showModalCurrency()">Usar o Contador!</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-center" id="modalH5">Contador de Vida</h4>
              </div>
              <div class="modal-body">
                <div class="row form-group">

                  <div class="col-md-12">
                    <p>Numa partida de Magic de gathering, os jogadores começam com 20 pontos de vida, e perde quem
                      chegar a 0 primeiro ou quando um jogador não tiver mais cartas para comprar.</p>
                    <h4 for="player1">Digite abaixo o nome dos 2 jogadores:</h4>
                    <input type="text" class="form-control" v-model="player1">
                    <br>
                    <input type="text" class="form-control" v-model="player2">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-6">
                    <h3 class="text-center">{{ player1 }}</h3>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-danger text-center" @click="reduceCounter1()">-</button>
                  </div>
                  <div class="col-md-2">
                    <h3>{{ lifePlayer1 }}</h3>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary text-center" @click="addCounter1()">+</button>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-6">
                    <h3 class="text-center">{{ player2 }}</h3>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-danger text-center" @click="reduceCounter2()">-</button>
                  </div>
                  <div class="col-md-2">
                    <h3>{{ lifePlayer2 }}</h3>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary text-center" @click="addCounter2()">+</button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <p>Conheça também a versāo para android clicando <a href="https://play.google.com/store/apps/details?id=com.magecounter.paulocorazza.magecounter">aqui
                    !</a>
                </p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true" id="modalCurrency">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-center" id="modalH5">Conversor Monetario</h4>
                </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ currency1 }} para {{ currency2 }}</h5>                            <input type="text" class="form-control text-center" v-model="currency1_value" v-bind:placeholder="currency1">
                            <br>
                            <div class="row">
                              <div class="col-md-12">
                                  <button class="btn btn-primary btn-block" onclick="converter()">Converter</button>
                                  <h2 class="text-center"> {{ currency2_value }}</h2>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="apps">

      <h2 class="container col-sm-12">Meus Aplicativos</h2>

      <br>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Som dos Bichos</h5>
              <p class="card-text">Toque na imagem de qualquer bicho para ouvir o som que ele faz!</p>
              <a href="https://play.google.com/store/apps/details?id=com.somdosbichos.paulocorazza.somdosbichos" class="btn btn-primary botao">Baixe
                já para Android !</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contador do Mago</h5>
              <p class="card-text">Utiliário para contabilizar os pontos de vidas de um jogador de Magic durante a
                partida.</p>
              <a href="https://play.google.com/store/apps/details?id=com.magecounter.paulocorazza.magecounter" class="btn btn-primary">Baixe
                já o Contador do Mago !</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Alcool ou Gasosa ?</h5>
              <p class="card-text">Utilitário para lhe auxiliar na hora de abastecer o seu carro.</p>
              <a href="https://play.google.com/store/apps/details?id=alcoolougasosa.paulocorazza.com.alcoolougasosa"
                class="btn btn-primary">Baixe já o Alcool ou Gasoa !</a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-width: 900px; margin: 0 auto">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carrouselExampleIndicator" data-slide-to="3"></li>
            <li data-target="#carrouselExampleIndicator" data-slide-to="4"></li>
            <li data-target="#carrouselExampleIndicator" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-30" src="./img/som.png" alt="First slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/cont.png" alt="Second slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/cont1.png" alt="Third slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/cont2.png" alt="fourth slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/alcool ou gasosa.jpg" alt="fifth slide">
            </div>

            <div class="carousel-item">
              <img class="d-block w-30" src="./img/alcool ou gasosa 2.jpg" alt="sixth slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <h2 class="container col-sm-12 text-center">Contato</h2>
    <div class="row">
      <div class="col-md-12">
        <form action="https://formspree.io/corazza.paulovinicius@gmail.com" method="POST" id="contactForm">
          <div class="row">
            <div class="col-md-4">
              <h5><label for="name"><span class="required">*</span> Nome</label></h5>
              <input type="text" name="name" class="form-control" placeholder="Digite seu nome" id="name" required="Por favor, digite seu nome.">
            </div>
            <div class="col-md-4">
              <h5><label><span class="required">*</span> Email</label></h5>
              <input type="email" class="form-control" required name="email" placeholder="seuemail@provedor.com">
            </div>
            <div class="col-md-4">
              <h5><label for="phone">Telefone</label></h5>
              <input type="text" class="form-control" name="phone" placeholder="xx xx xxxxx-xxxx">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <h5><label for="message"><span class="required">*</span> Digite sua mensagem</label> </h5>
              <textarea class="form-control" name="message" required rows="5" placeholder="Digite aqui sua mensagem, pode ser um elogio, me convidar para tomar um café ou até mesmo um emprego :)"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary text-center">Enviar</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <span>* Campos Obrigatórios</span>
            </div>
          </div>
      </div>
      </form>


    </div>
    </div>
  </section>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/resume.min.js"></script>
  <script src="vendor/jquery-validation-1.17.0/dist/jquery.validate.js"></script>


  <script>
    function helloWorld() {

      var name = "Paulo Corazza";
      var job = "Programador";

      alert("Olá eu sou o " + name + " e  sou um " + job);

    }
  </script>

  <script>
    const app = new Vue({


      el: '#app',
      props: ["currency1", "currency2"],
      data: {

        player1: '',
        player2: '',
        lifePlayer1: 20,
        lifePlayer2: 20,
        // currency1: '',
        // currency2: 0

      },

      methods: {

        reduceCounter1() {

          this.lifePlayer1--

          if (this.lifePlayer1 == 0) {

            alert('O' + this.player1 + "perdeu !");

          }

        },

        addCounter1() {

          this.lifePlayer1++

        },
        reduceCounter2() {

          this.lifePlayer2--

          if (this.lifePlayer2 == 0) {

            alert('O' + this.player2 + "perdeu !");
          }



        },

        addCounter2() {

          this.lifePlayer2++

        },

        reset() {
          this.lifePlayer1 = 20;
          this.lifePlayer2 = 20
        },
        showModal() {
          $('#modal').modal('show');
        },
        // showModalCurrency() {
        //   $('#modalCurrency').modal('show');
        // }

      },
      computed: {

        isEvenNumber() {
          return this.count % 2 === 0
        }
      },
      mounted: function () {
        // this.showModal();
      }
    })
  </script>

  <script>
    $("#contactForm").validate();
  </script>
  <!-- Custom scripts for this template -->

  <script src="js/resume.min.js"></script>

</body>

</html>